# Ignore Mac system files
.DS_store

# Ignore docker files
docker-compose.yml

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore bin folder
bin